.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  gap: 16px;
  padding-top: 60px; /* Adjust this value to create space below the navbar */
}
